<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block head %}
    <title></title>
    {% endblock %}
</head>
<body style="background-color:black ; color:white ;">
<nav class="navbar navbar-dark navbar-1 black">
    <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation" style="font-size: xx-large; border: 0em;"><span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/home" style="font-family: gilroyXB; font-size: xx-large; color: red;">
            Kyle Myint Web Portfolio {% block greeting %}{% endblock %}
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
        <!--
          Links to each page
        -->
        <div class="navbar-nav" style="font-size: large;">
            <a class="nav-link home" href="/">Home</a>
            <a class="nav-link journal" href="/journal">Journal</a>
            <a class="nav-link groupwebproject" href="/groupwebproject">Group Web Project</a>
            <a class="nav-link chessOO" href="/chessOO">Chess OO</a>
            <a class="nav-link advancedTTT" href="/advancedTTT">Advanced TicTacToe</a>

        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<!--
   JavaScript
-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
