{% extends "base.html" %}

{%block content %}
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-color:aquamarine;">


<p class = "center"> Group Plan: <a target = "_blank" href="https://docs.google.com/document/d/1ktGsDPl07wBa6YQvsGDCKAi1Bpz_exLEj0Y3ASh-fK0/edit">Project Doc</a></p>
<iframe frameborder="100" width="100%" height="500px" src="https://docs.google.com/document/d/1ktGsDPl07wBa6YQvsGDCKAi1Bpz_exLEj0Y3ASh-fK0/edit"></iframe>
<p class = "center"> Project Code: <a target = "_blank" href="https://repl.it/@colinszeto/ChessOO#main.py">ASCII Chess 2.0</a></p>
<iframe frameborder="100" width="100%" height="500px" src="https://repl.it/@colinszeto/ChessOO#main.py"></iframe>
{% endblock %}