{% extends "base.html" %}

{%block content %}
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-color:aquamarine;">




<table id = "tableOne"style="width:100% ; margin-top:2% ; margin-bottom:2%">
    <tr>
        <th class = "center" style="text-align: center; margin-top: 10%;">Period 5 ChessGame  -  Pair Share 2  -  Kyle Myint + David Kim</th>
    </tr>
    <tr>
        <th class = "barOne"><a target = "_blank" href="https://docs.google.com/document/d/1i08SNwkyA_2TCnJiLZWBPMQ7OCMuU5pGo1s7aEEmmCI/edit?pli=1"> Google Doc Journal</a></th>
    </tr>
</table>

<iframe frameborder="1000" width="100%" height="500px" src="https://docs.google.com/document/d/1i08SNwkyA_2TCnJiLZWBPMQ7OCMuU5pGo1s7aEEmmCI/edit?pli=1"></iframe>

<table id = "tableOne"style="width:100% ; margin-top:2% ; margin-bottom:2%">
    <tr>
        <th class = "barOne"><a target = "_blank" href="https://padlet.com/kylem31415/gwekob3xho16f5nt"> Padlet Journal</a></th>
    </tr>
</table>

<iframe frameborder="1000" width="100%" height="500px" src="https://padlet.com/kylem31415/gwekob3xho16f5nt"></iframe>

<table id = "tableOne"style="width:100% ; margin-top:2% ; margin-bottom:2%">
    <tr>
        <th class = "barOne"><a target = "_blank" href="https://Kyle-M-Web-Portfolio.kylemyint.repl.co"> Web Portfolio </a></th>
    </tr>
</table>

<iframe frameborder="1000" width="100%" height="500px" src="https://Kyle-M-Web-Portfolio.kylemyint.repl.co"></iframe>

</style>

{% endblock %}